#page-wrapper {
  float: left;
  width: 100%;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 75%;
}

/**************container css****************/

#container {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 20px;
}

/**************container css end****************/
body {
  margin: 0;
  border-top: 10px solid #333;
  font-family: roboto, Helvetica, "Helvetica Neue";
}

/* .bgimg1{
        background-image: url('images/bg.png');
      } */

.hex {
  float: left;
  margin-left: 3px;
  margin-bottom: -26px;
}

.hex .top {
  width: 0;
  border-bottom: 30px solid transparent;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex .middle {
  width: 105px;
  height: 60px;
  /* background: #6C6; */
}

.hex .bottom {
  width: 0;
  border-top: 30px solid transparent;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex-row {
  clear: left;
}

.hex-row.even {
  margin-left: 40px;
}

.hex2 {
  float: left;
  margin-right: -33px;
  margin-bottom: -77px;
}

.hex2 .left {
  float: left;
  width: 0;
  border-right: 90px solid transparent;
  border-top: 89px solid transparent;
  border-bottom: 72px solid transparent;
}

.hex2 .middle {
  float: left;
  width: 60px;
  height: 104px;

  /* background: #6C6; */
}

.hex2 .right {
  float: left;
  width: 0;
  border-left: 30px solid transparent;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hex2-row {
  clear: left;
}

.hex2.topnewbox {
  margin-left: 440px;
}

.hex2.even {
  margin-top: 83px;
}

.hex2.newbox {
  margin-left: 293px;
  margin-top: -2px;
}

.hex2.newbox1 {
  margin-left: 588px;
  margin-top: -84px;
}

.hex img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -10px;
}

/**************mouse css****************/
.hex2 {
  position: relative;
  background: 0 0 no-repeat;
}

.hex2:hover {
  background: 0px -162px no-repeat;
}

.header-text {
  color: #ffffff;
}

.details-text {
  color: #ffffff;
  font-size: 12px;
}

.titlename {
  font-size: 22px;
  margin-bottom: -4px;
}

.jobtitle {
  font-size: 16px;
  margin-bottom: 4px;
  color: #cf9436;
}

.Faviorate {
  color: #b0b0b0;
  font-size: 14px;
}

.Faviorate1 {
  color: #FFFFFF;
  font-size: 14px;
}

.spdiv {
  width: 50%;
}

/**************mouse css****************/
.hidden-text {
  position: absolute;
  left: 180px;
  z-index: -1;
  display: none;
  width: 400px;
  height: 154px;
  margin-top: 1px;
  padding: 6px 6px 0px 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 8px 8px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  display: block;
  width: 0px;
  height: 0px;
  border-left: 45px solid rgba(0, 0, 0, 0);
  border-top: 77px solid rgba(0, 0, 0, 0.7);
  border-right: 5px solid rgba(0, 0, 0, 0.7);
  border-bottom: 77px solid rgba(0, 0, 0, 0.7);
}

.underlay {
  z-index: -9;
}

.hidden-text.ofscr {
  right: 180px;
  left: auto;
  border-radius: 8px 0 0 8px;
}

.hidden-text.ofscr:before {
  display: none;
}

.hidden-text.ofscr:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -50px;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 45px solid rgba(0, 0, 0, 0);
  border-top: 77px solid rgba(0, 0, 0, 0.7);
  border-left: 5px solid rgba(0, 0, 0, 0.7);
  border-bottom: 77px solid rgba(0, 0, 0, 0.7);
}
